default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 30
  username: 
  password: 

development:
  <<: *default
  database: magazines_development

test:
  <<: *default
  database: magazines_test

production:
  <<: *default
  database: magazines_production
  username: 
  password: 